body {
  background-color: black;
  color: white;
  font-family: Arial;
  text-align: center;
  margin-top: 100px;
}

button {
  font-size: 20px;
  padding: 15px 30px;
  margin: 20px;
  cursor: pointer;
}
